body {
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    background: #40576d;
    background-size: cover;
    padding-top: 43px;
}
.login {
    width: 30%;
    margin: 0 auto;
    background: url(../public/img/carretera7.jpg)no-repeat 0px 0px;
    background-size: cover;
    background-position: center;
    padding: 30px 28px 60px;
    border: 2px solid #0e3a47;
}
h2 {
    text-align: center;
    font-size: 36px;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 30px;
    color:#f59313;
}
form {
    margin: 0 auto;
}
form label {
    font-size: 26px;
    margin-top: 40px;
    padding: 0.9px;
    color: #f59313;
}
.login form input[type="text"], [type="password"]{
    outline: none;
    font-size: 26px;
    font-weight: bold;
    color: #000000;
    padding: 15px 10px;
    margin: 0 auto;
    width: 95;
    border: none;
    border-bottom: 2px solid #ffffff;
    display: block;
    background: transparent;
}
button[type="submit"] {
    position: absolute;
    background-color: rgb(60, 125, 247);
    color: white;
    font-size: 18px;
    padding: 0.45em 1.1em;
    border-radius: 20px;
    width: 13%;
    border: 1px solid rgb(60, 125, 247);
    transition: all;
    transition-duration: 300ms;
}
button[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(223, 199, 168);
    color: black;
    font-size: 18px;
    border: 1px solid rgb(223, 199, 168);
    scale: 1.08;
}

